*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    /* https://img.freepik.com/vetores-gratis/banner-social-preto-geometrico-de-memphis_53876-116843.jpg?size=626&ext=jpg&ga=GA1.1.1518270500.1698364800&semt=ais */
}

:root{

    --blur-background: rgba(000, 000, 000, 0.8);
    --light-BlueBackground: rgba(58, 109, 141, 0.45);

    --whiteColor: #d3cccc;

    scroll-behavior: smooth;
    background: #fff5f5;
    /* font-size: clamp(5px, 10px, 10vw);  */
    font-size: 10PX;
    font-family: 'PT Sans', sans-serif;
}

/* Scroll style */

::-webkit-scrollbar {
    width: .5rem;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--whiteColor); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#contentWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* Header */
header{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('https://i.pinimg.com/originals/64/99/fb/6499fbceda30cc9de9d688205cad4fb0.jpg');
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

header nav{
    margin-top: 2rem;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    list-style: none;
   
}

header nav ul li a{
    font-family: 'Inter', sans-serif;
    font-size: clamp( 1rem, 1.5rem, 5vw);
    font-weight: 600;
    font-style: normal;
    color: var(--whiteColor);
    text-transform: uppercase;
}

header nav ul li a:hover{
    color: white;
}


header h1{
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: clamp(4rem, 8rem, 8vw);
    font-weight: 100;
    line-height: 6rem;
    letter-spacing: 1rem;
    margin: 5rem 0rem 0rem 5rem;
    color: var(--whiteColor);
}

header h1 #SecondPartOfTitle{
    animation: fadeIn 3s ease-in forwards;
}

header h1 #ThirdPartOfTitle{
    font-style: normal;
    font-size: clamp(3rem, 13rem, 13vw);
    font-weight: 700;
    line-height: 20rem;
    text-transform: uppercase;
    animation: fadeIn 6s ease-in forwards;
}

header p{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: var(--whiteColor);
    margin: 5rem 5rem 5rem 5rem;
    animation: fadeIn 9s ease-in forwards;
}

/* Main Content */
main{
    width: 100vw;
    height: 100%;
    margin: 0 10rem 0 10rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #Sobre,
main #Projetos{
    font-style: normal;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #444649;
    margin: 5rem 0 5rem 0;
    animation: fadeIn 3s ease-in forwards
}

main #Sobre .underline,
main #Projetos .underline {
    background: #444649;
    margin: 0 auto;
    height: 4px;
    width: 70px;

    animation: fadeIn 3.5s ease-in forwards
}

/* Skills */

main #gridSobreAndSkillsWrapper {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    gap: 10rem;
    margin: 5rem;    
}

main #gridSobreAndSkillsWrapper .cardItem h3{
    font-style: normal;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: #444649;
    margin: 0 0 2rem 0;
    animation: fadeIn 6s ease-in forwards
}

main #gridSobreAndSkillsWrapper .cardItem p a{
    color: #000000;
    font-weight: 700;
}

main #gridSobreAndSkillsWrapper .cardItem:first-child p{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #444649;
    padding: .5rem;
    letter-spacing: .3rem;
    text-align: justify;
}

main #gridSobreAndSkillsWrapper .cardItem:first-child 
#primeiro::first-letter {
    font-size: 4rem;
    font-weight: 700;
}

main #gridSobreAndSkillsWrapper .cardItem:nth-child(2) #skillsWrapper{
    display: flex;
    flex-wrap: wrap;
}

main #gridSobreAndSkillsWrapper .cardItem:nth-child(2) #skillsWrapper p{
    padding: 1rem 2rem;
    cursor: default;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: .5s all ease-in-out;
}

main #gridSobreAndSkillsWrapper .cardItem:nth-child(2) #skillsWrapper p:hover{
    box-shadow: none;
}

/* Projetos */

main #gridCardsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    padding: 0;
    margin-bottom: 5rem;
}

main #gridCardsWrapper .cardItem{
    height: 30rem;
    width: 35rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: .2s ease-in-out;
}

main #gridCardsWrapper .cardItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main #gridCardsWrapper .cardItem:hover{
    transform: scale(1.2);
    transition: .5s ease-in-out;
    z-index: 2;
}

main #gridCardsWrapper .cardItem .cardItemDados{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: var(--blur-background);
}

main #gridCardsWrapper .cardItem .cardItemDados h3{
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: var(--whiteColor);
    margin: 2rem 1rem 2rem 2rem;
}

main #gridCardsWrapper .cardItem .cardItemDados p{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--whiteColor);
    padding: .5rem;
    margin: 0 1rem 3rem 1rem;
    text-align: justify;
}

main #gridCardsWrapper .cardItem .cardItemDados a {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--whiteColor);
    padding: .5rem;
    margin: 1rem 0 1rem 1rem;
    text-align: justify;
}

/* Footer */

footer{
    width: 100vw;
    height: 30vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: #1B242F;
}

footer #scrollToHome{
    background: #e31b6d;
    cursor: pointer;
    font-size: 4rem;
    padding: .5rem;
    line-height: 4rem;
    margin: 0 0 6rem 0;
    color: var(--whiteColor);
    transition: .5ms ease-in-out;
}

footer #scrollToHome:hover{
    animation: float 4s ease-in-out infinite;
}

footer #socialMedias{
    display: flex;
    align-items: center;
}

footer #socialMedias i{
    margin: 0rem 2rem 0rem 0rem;
    font-size: 4rem;
    color: var(--whiteColor);
}

footer #socialMedias i.fa-brands.fa-square-github{
    animation: float 3.2s ease-in-out infinite;
}

footer #socialMedias i.fa-brands.fa-instagram{
    animation: float 3.5s ease-in-out infinite;
}

footer #socialMedias i.fa-brands.fa-linkedin{
    animation: float 3.8s ease-in-out infinite;
}

footer #socialMedias i.fa-brands.fa-square-github:hover{
    transition: .5s ease-in-out;
    color: #c9510c;
}

footer #socialMedias i.fa-brands.fa-instagram:hover{
    transition: .5s ease-in-out;
    color: #C13584;
}

footer #socialMedias i.fa-brands.fa-linkedin:hover{
    transition: .5s ease-in-out;
    color: #0e76a8;
}

footer p{
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: 300;
    line-height: 6rem;
    margin: 1rem 0rem 0rem 0rem;
    color: var(--whiteColor);
}


/* KeyFrames */
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

/* Breaking Points */

@media (min-width: 200px) {

    header h1{
        letter-spacing: .5rem;
        margin: 5rem 0rem 0rem 1.5rem;
    }

    main #gridCardsWrapper{
        grid-template-columns: 1fr;
        transition: 1s all ease-in-out;
    }

    main #gridSobreAndSkillsWrapper {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin: 2rem;    
        transition: 1s all ease-in-out;
    }

    main #gridSobreAndSkillsWrapper .cardItem:first-child p{
        letter-spacing: 0.1rem;
    }
}

@media (min-width: 350px) { 

    header h1{
        letter-spacing: .5rem;
        margin: 5rem 0rem 0rem 2rem;
    }

    main #gridSobreAndSkillsWrapper {
        grid-template-columns: 1fr;
        gap: 5rem;
        margin: 2.5rem;    
        transition: 1s all ease-in-out;
    }

}

@media (max-width: 350px){
    main #gridSobreAndSkillsWrapper .cardItem:nth-child(2) #skillsWrapper p {
        padding: 0.5rem 1rem;
        cursor: default;
        margin-bottom: 1.5rem;
        margin-right: 1.5rem;
        font-size: 1.2rem;
    }

    main #gridSobreAndSkillsWrapper .cardItem:first-child p{
        font-size: 1rem;
    }
}

/* Medium devices */
@media (min-width: 768px) { 
    header h1{
        letter-spacing: 1rem;
        margin: 5rem 0rem 0rem 5rem;
    }
    main #gridCardsWrapper{
        grid-template-columns: 1fr 1fr;
        transition: 1s all ease-in-out;
    }

    main #gridSobreAndSkillsWrapper .cardItem:first-child p{
        letter-spacing: 0.3rem;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    main #gridSobreAndSkillsWrapper {
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
        margin: 5rem;    
        transition: 1s all ease-in-out;
    }

    main #gridCardsWrapper{
        grid-template-columns: 1fr 1fr 1fr;
        transition: 1s all ease-in-out;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2560px) {

    :root{
        font-size: 20px;
    }

    header{
        justify-content: space-evenly;
        transition: 1s all ease-in-out;
    }

    main #gridCardsWrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        transition: 1s all ease-in-out;
    }
}